<header id="header" class="bg-custom border-success">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="../../../assets/img/DP.png"
        alt=""
        class="img-fluid rounded-circle"
        style="border: none"
      />
      <h1 class="text-light"><a href="../../../index.html">Ashish</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://github.com/deashish" class="github" target="_blank"
          ><i
            class="fa-brands fa-github fa-xl"
            style="color: rgb(237, 226, 226)"
          ></i
        ></a>
        <a
          href="https://www.linkedin.com/in/ashish-ghimire97/"
          class="linkedin"
          target="_blank"
          ><i
            class="fa-brands fa-linkedin-in fa-xl"
            style="color: rgb(237, 226, 226)"
          ></i
        ></a>
        <a href="mailto:asghimire97@gmail.com" class="email" target="_blank"
          ><i
            class="fa fa-envelope-o fa-xl"
            style="color: rgb(237, 226, 226)"
          ></i
        ></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <!-- <li>
          <a href="#home" class="nav-link scrollto active"
            ><i class="fa-solid fa-house"></i> <span>Home</span></a
          >
        </li> -->
        <li>
          <a href="#about" class="nav-link scrollto"
            ><i class="fa-solid fa-user" style="color: rgb(237, 226, 226)"></i>
            <span>About</span></a
          >
        </li>
        <li>
          <a href="#experience" class="nav-link scrollto"
            ><i
              class="fa-solid fa-briefcase"
              style="color: rgb(237, 226, 226)"
            ></i>
            <span>Experience</span></a
          >
        </li>
        <li>
          <a href="#education" class="nav-link scrollto"
            ><i class="fa-solid fa-book" style="color: rgb(237, 226, 226)"></i>
            <span>Education</span></a
          >
        </li>
        <li>
          <a href="#project" class="nav-link scrollto"
            ><i
              class="fa fa-project-diagram"
              style="color: rgb(237, 226, 226)"
            ></i>
            <span>Project</span></a
          >
        </li>
        <li>
          <a href="#skills" class="nav-link scrollto"
            ><i
              class="fa-solid fa-lightbulb"
              style="color: rgb(237, 226, 226)"
            ></i>
            <span>Skills</span></a
          >
        </li>
        <li>
          <a href="#blog" class="nav-link scrollto">
            <i
              class="fa-solid fa-book-open"
              style="color: rgb(237, 226, 226)"
            ></i>
            <span>Blog</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
