<header id="header" class="bg-custom border-success">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="../../../assets/img/DP.png"
        alt=""
        class="img-fluid rounded-circle"
        style="border: none"
      />
      <h1 class="text-light"><a href="../../../index.html">Ashish</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://github.com/deashish" class="github" target="_blank"
          ><i
            class="fa-brands fa-github fa-beat fa-xl"
            style="color: rgb(180, 179, 179)"
          ></i
        ></a>
        <a
          href="https://www.linkedin.com/in/ghimire-ashish/"
          class="linkedin"
          target="_blank"
          ><i
            class="fa-brands fa-linkedin-in fa-beat fa-xl"
            style="color: rgb(180, 179, 179)"
          ></i
        ></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <a href="#home" class="nav-link scrollto active"
            ><i class="fa-solid fa-house fa-beat"></i> <span>Home</span></a
          >
        </li>
        <li>
          <a href="#about" class="nav-link scrollto"
            ><i class="fa-solid fa-user fa-beat"></i> <span>About</span></a
          >
        </li>
        <li>
          <a href="#experience" class="nav-link scrollto"
            ><i class="fa-solid fa-briefcase fa-beat"></i>
            <span>Experience</span></a
          >
        </li>
        <li>
          <a href="#education" class="nav-link scrollto"
            ><i class="fa-solid fa-book fa-beat"></i> <span>Education</span></a
          >
        </li>
        <li>
          <a href="#skills" class="nav-link scrollto"
            ><i class="fa-solid fa-lightbulb fa-beat"></i>
            <span>Skills</span></a
          >
        </li>
        <li>
          <a href="#blog" class="nav-link scrollto">
            <i class="fa-solid fa-book-open fa-beat"></i> <span>Blog</span></a
          >
        </li>
        <li>
          <a href="#contact" class="nav-link scrollto"
            ><i class="fa fa-envelope fa-beat"></i> <span>Contact</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
